PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=hrms_user
DB_PASSWORD=hrms_pass
DB_NAME=hrms_db

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_to_a_different_long_random_secret
JWT_REFRESH_EXPIRES_IN=7d